<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">服务范围</h2>
                    <h3 class="section-subheading text-muted">以高质量的翻译取胜，以玩家和客户需求为先</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">翻译本地化</h4>
                    <p class="text-muted">十年经验老翻译兼任项目经理，全程一对一专业服务，随时解答客户疑问。更有原文文本校对优化、排版优化建议、本地化质量校验等贴心服务。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">配音服务</h4>
                    <p class="text-muted">可为客户联系国内外多家配音工作室，提供包括配音台本制作、现场配音监督、多语言配音在内的多项服务。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">宣传推广</h4>
                    <p class="text-muted">与国内外多家发行商、广告传媒公司拥有合作经验。可为客户在国内外的多个平台上开设并运营宣传账号，随时与玩家和业内友商交换意见，精准推广产品。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">定制化服务</h4>
                    <p class="text-muted">不论是尚处于企划阶段的项目，还是试玩版、成品游戏或是已上线运营的产品，均可获得最适宜服务计划及定制化报价</p>
                </div>
            </div>
        </div>
    </section>
